<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<h1><%= link_to "My Gadgets", gadgets_path %> (<%= @gadgets.count %>)</h1>

<%= link_to "Add a gadget...", new_gadget_path %>

<ul>
<% @gadgets.each do |gadget| %>
	<li><%= link_to gadget.name, gadget %></li>
<% end %>
</ul>

<%= render 'search' %>
